
# Mac OS
.DS_Store

# Venv
.venv
.idea
*.pyc

# Hide Random data generation
/data/input/training_data/pseudo_testing_data
/data/input/training_data/pseudo_testing_data_with_truth
/data/output/pseudo_testing
/data/output/testing/
/data/output/submission/

*.ipynb